name: Crystal CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  check_format:
    runs-on: ubuntu-latest
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1

      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: shards install

      - name: Check format
        run: crystal tool format --check

  check_ameba:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Run Ameba linter
        uses: crystal-ameba/github-action@master

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: ubuntu-latest, crystal: latest}
          - {os: ubuntu-latest, crystal: nightly}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal }}
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: shards install --skip-postinstall --skip-executables
      - name: Run tests
        run: crystal spec
